<!-- {{ itineraryData | json }} -->
<div class="base-bus">
  <div class="container-table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="idlinha">
        <th mat-header-cell *matHeaderCellDef>Parada</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let element">{{ dataLine[0].nome }}</td>
      </ng-container>
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef>Código</th>
        <td mat-cell *matCellDef="let element">{{ dataLine[0].codigo }}</td>
      </ng-container>
      <ng-container matColumnDef="itinerario">
        <th mat-header-cell *matHeaderCellDef>Itinerário</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-raised-button
            class="btn-route"
            (click)="navigateToMaps(element.lat, element.lng)"
          >
            Ver no Maps
            <em class="fas fa-map-marker-alt"></em>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons>
    </mat-paginator>
  </div>
</div>
