<div class="base-footer">
  <div class="container-footer-icons">
    <a
      class="icons-footer"
      href="https://www.instagram.com/nicolas50si/"
      target="_blank"
      role="button"
      ><i class="fab fa-instagram"></i
    ></a>
    <a
      class="icons-footer"
      href="https://www.linkedin.com/in/nicolas-ivanoff-a253a2257/"
      target="_blank"
      role="button"
      ><i class="fab fa-linkedin-in"></i
    ></a>
    <a
      class="icons-footer"
      href="https://github.com/NicolasSIvanoff"
      target="_blank"
      role="button"
      ><i class="fab fa-github" width="14" height="16"></i
    ></a>
    <a
      class="icons-footer"
      href="mailto:nicolas50si@gmail.com"
      target="_blank"
      role="button"
      ><i class="fa fa-envelope" width="14" height="16"></i
    ></a>
  </div>
  <div class="container-descrition">
    <span>© 2023 - Consulta Bus POA</span>
  </div>
</div>
